@inject IStringLocalizer<App> L
@inject IJSRuntime JsRuntime
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase

<RadzenLayout Class="rz-vh-100" Style="position: relative; overflow: hidden;">
    <RadzenHeader Style="z-index: 1002;">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenLabel Text="AreTheyHere" Style="margin-left: 1rem; font-size: 1.5rem; font-weight: bold;" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" @bind-Expanded="@_sidebarExpanded" style="position: absolute; z-index: 1001; width: 250px; top: 0; bottom: 0; left: 0;">
        <NavMenu OnMenuItemClick="@(() => _sidebarExpanded = false)" />
    </RadzenSidebar>
    <RadzenBody Style="position: relative; overflow-y: auto;">
        <GlobalErrorBoundary>
            @Body
        </GlobalErrorBoundary>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />
<TimeZoneDetector />

<div id="blazor-error-ui" data-nosnippet>
    @L["Unhandled_Error_Occurred"]
    <a href="." class="reload">@L["Reload"]</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool _sidebarExpanded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("themeManager.init");
            await JsRuntime.InvokeVoidAsync("hideAppLoader");
        }
    }
}
